{% extends "app/layout.html" %}

{% load wysiwyg %}
{% load datetime_extras %}
{% load uuid_extras %}
{% block content %}

{% wysiwyg_setup %}

  <div class="row">

            <!-- Question Content Column -->
            <div class="col-lg-8">

                <!-- Title -->
                <h1>{{ question.title }}</h1>

                <hr>

                <!-- Author Date/Time -->
                {% if question.days_since_post < 7 %}
                    <p><span class="glyphicon glyphicon-time"></span> Asked {{ question.created_in|timesince }} ago by <a href="#">{{ question.creator.user.username }}</a></p>
                {% else %}
                    <p><span class="glyphicon glyphicon-time"></span> Asked on {{ question.created_in }} by <a href="#">{{ question.creator.user.username }}</a></p>
                {% endif%}

                <hr>

                <!-- Preview Image -->
                <!--<img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>-->

                <!-- Question Body -->
                {{ question.body|safe }}
                
                <hr>

                <!-- Comments -->
                {% with question.questioncomment_set.all as comments %}
                    {% include 'app/questions/comments-partial.html' %}
                {% endwith %}                

                <hr />

                <!-- Answers -->
                {% for answer in question.answer_set.all %}
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                {{ answer.body|safe }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                Answered by <a>{{ answer.creator.user.username }}</a><span class="small"> at {{ answer.created_in|datetime:"%b %d '%y at %H:%M" }}</span>
                            </div>
                        </div>
                    </div>
                    <hr />

                    {% with answer.answercomment_set.all as comments %}
                        {% include 'app/questions/comments-partial.html' %}
                    {% endwith %}  

                {% endfor%}

                <!-- New Answer Form-->
                <h5 id="txt-create-answer" data-toggle data-toggle-for="frm-create-answer"><a>New Answer</a></h5>
                    <form action="{% url 'answer_a_question' %}" method="post" class="form" id="frm-create-answer" style="display:none;">
                        <div class="form-group">
                            {% csrf_token %}
                            <input type="hidden" id="id_question_id" name="question_id" value="{{ question.id }}" />
                            <div class="form-group">
                                <textarea class="form-control" cols="40" id="id_body" name="body" placeholder="Body" rows="10" title=""></textarea>
                            </div>
                        </div>
                        {% wysiwyg_editor "id_body" %}
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-star"></span> Submit
                        </button>
                    </form>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function(){
        //$('#frm-make-comment').hide();
        //$('#txt-leave-comment').click(function(){
        //    $('#frm-make-comment').slideToggle();
        //});

        $('[data-toggle]').click(function () {
            elementname = '#' + $(this).data('toggle-for');
            element = $(elementname);
            element.slideToggle();
            return false;
        });
    });


</script>
{% endblock %}